
    .iconsSpace{
        margin-top: 10%;
        background-color: #26252b;
        min-height: 50vh;
        display: flex;
        justify-content:center;
        align-items: center;  
    }

    p{
        font-size: 130px;
        font-weight: bold;
        color: white;
        /* transform: rotate(-30deg) translateY(5%) translateX(-20%); */
    }
    #outside{
        border: 1px ;
        border-radius: 15px;
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;        
        align-items: center;
        background-color: rgba(58,56,67,255);
    }
    #inside{
        margin: 10%;
        display: flex;
        justify-content:center;
        align-items: center;
        border: 1px ;
        border-radius: 10px;
        width: 100px;
        height: 100px;
        background-color: brown;
    }
    #letter{
        transform: rotate(-30deg) translateY(5%) translateX(-20%);  
    }
.element		{ font-size:75px; position:absolute; }
